<div class="user-container">
  <div class="user-header">
    <h2>User</h2>
    <button>X</button>
  </div>

  <div class="user-body">
    <div class="channels-container">
      <div class="channel-create">
        <input type="text" placeholder="#channel-name">
        <button>&plus;</button>
      </div>

      <div class="channels-list">
        <p>#general</p>
        <p>#math</p>
      </div>

    </div>

    <div class="chat-container">
      <mcr-chat></mcr-chat>
    </div>
  </div>
</div>
